/*
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    background-color: #202534;
    overflow-x: hidden;
    position: relative;
}

@media (max-width: 967px) {
    body {
        overflow-x: hidden;
    }
}

@media (max-width: 576px) {
    body {
        overflow-x: hidden;
    }
}


/*NAVBAR*/
.navbar {
    background-color: whitesmoke !important;
    height: 8%;
}

.navbar-nav li {
    font-family: 'Raleway', sans-serif;
}

/*HOMEPAGE*/
.homepage {
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
}

.bgLetter {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: -2;
}

@media (max-width: 967px) {
    .bgLetter {
        object-fit: cover;
    }
}

@media (max-width: 576px) {
    .bgLetter {
        object-fit: cover;
    }
}

#leoWhitoutbgHome {
    filter: drop-shadow(-10px -1px 60px black);
}

.yellowTitle {
    color: #f8cb08;
}

.greenTitle {
    color: #095d40;
}

.blueTitle {
    color: #004aad;
}

@media (max-width: 967px) {
    #cardContainer {
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    #cardContainer {
        flex-direction: column;
    }
}

.card {
    width: 18vw;
    height: 550px;
    background-color: whitesmoke;
    border-radius: 50px;
    box-shadow: 3px 5px 20px #0e1018;
    margin-top: 5vw;
    box-sizing: border-box;
    box-shadow: 10px 10px 20px black;
}

@media (max-width: 967px) {
    .card {
        margin-top: 10%;
        margin-bottom: 8%;
        width: 70vw;
        border-radius: 25px;
        height: 350px;
    }
}

@media (max-width: 576px) {
    .card {
        margin-top: 10%;
        margin-bottom: 8%;
        width: 70vw;
        border-radius: 25px;
        height: 350px;
    }
}

.oval {
    position: absolute;
    top: -53px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 120px;
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 50%;
}

@media (max-width: 967px) {
    .oval {
        margin-top: 5%;
        top: -45px;
        width: 100px;
        height: 90px;
    }
}

@media (max-width: 576px) {
    .oval {
        margin-top: 5%;
        top: -45px;
        width: 100px;
        height: 90px;
    }
}

.cardImage {
    position: absolute;
    height: 45%;
    top: -21%;
    left: 14%;
}

@media (max-width: 967px) {
    .cardImage {
        height: 45%;
        top: -90;
        left: 20%;
    }
}

@media (max-width: 576px) {
    .cardImage {
        height: 45%;
        top: -90;
        left: 20%;
    }
}

.titleCard {
    position: absolute;
    top: 15%;
}

@media (max-width: 967px) {
    .titleCard {
        top: 15%;
    }
}

@media (max-width: 576px) {
    .titleCard {
        top: 15%;
    }
}

.titleCard h1 {
    font-size: 30px;
}

@media (max-width: 967px) {
    .titleCard h1 {
        font-size: 20px;
    }
}

@media (max-width: 576px) {
    .titleCard h1 {
        font-size: 20px;
    }
}

.pCard {
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    top: 37%;
}

@media (max-width: 967px) {
    .pCard {
        font-size: 8px;
    }
}

@media (max-width: 576px) {
    .pCard {
        font-size: 8px;
    }
}

/*UI UX*/

@media (max-width: 967px) {
    #ui-ux {
        font-size: 12px;
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    #ui-ux {
        font-size: 12px;
        flex-direction: column;
    }
}

.pUiUx {
    font-size: 30px;
}

#imageUiUx {
    filter: drop-shadow(5px 5px 60px black);
}

@media (max-width: 967px) {
    #imageUiUx {
        margin-bottom: 15%;
    }
}

@media (max-width: 576px) {
    #imageUiUx {
        margin-bottom: 15%;
    }
}


/*IMAGE*/
.image-rotate {
    transform: rotate(180deg) scalex(-1);
    opacity: 0.2;
    width: 100%;
}

@media (max-width: 967px) {
    .image-rotate {
        object-fit: cover;
        height: 150%;
    }
}

@media (max-width: 576px) {
    .imega-rotate {
        object-fit: cover;
        height: 150%;
    }
}

.lWhitBg {
    height: 400px;
}

@media (max-width: 967px) {
    .lWhitBg {
        height: 150px;
    }
}

@media (max-width: 576px) {
    .lWhitBg {
        height: 200px;
    }
}

/*LINEA*/
.line {
    width: 100%;
    height: 2px;
    border-radius: 15%;
    background-color: white;
    margin: 0 auto;
    margin-top: 5px;
}

.line2 {
    width: 10%;
    height: 3px;
    border-radius: 15%;
    background-color: grey;
    margin: 0 auto;
    margin-top: 5px;
}

/*INFO*/
#info {
    font-family: 'Montserrat', sans-serif;
    height: auto;
    width: 100%;
    font-size: 40px;
    position: relative;
    overflow: hidden;
}

#info::before {
    content: "";
    background-image: url('/images/leo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    inset: 0;
    z-index: -3;
    transform: rotate(180deg) scalex(-1);
    opacity: 0.2;
}

@media (max-width: 768px) {
    #info p {
        font-size: 13px;
    }
}

@media (max-width: 576px) {
    #info p {
        font-size: 13px;
    }
}

/*INFO1*/
#info1 {
    font-size: 32px;
}

@media (max-width: 768px) {
    #info1 p {
        font-size: 13px;
    }
}

@media (max-width: 576px) {
    #info1 p {
        font-size: 7px;

    }
}

/*CONTATTI*/
#contatti {
    font-size: 24px;
}

@media (max-width: 768px) {

    #contatti p,
    a {
        font-size: 15px;
    }
}

@media (max-width: 576px) {

    #contatti p,
    a {
        font-size: 13px;

    }
}

@media (max-width: 768px) {
    #contatti i {
        font-size: 32px;
    }
}

@media (max-width: 576px) {
    #contatti i {
        font-size: 25px;

    }
}

/*photoWhitPhrase*/
#photoWhitPhrase {
    font-size: 43px;
}

@media (max-width: 768px) {
    #photoWhitPhrase p {
        font-size: 20px;
        text-align: center;
    }
}

@media (max-width: 576px) {
    #photoWhitPhrase p {
        font-size: 16px;
        text-align: center;
    }
}

/*VIRGOLETTE*/
.virgolette {
    width: 200px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0.4;
}

.virgoletteR {
    width: 200px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 85%;
    transform: scaleX(-1);
    opacity: 0.4;
}

/*BADGE WELLNESS DESIGN & UI/UX*/
.badgeWell {
    height: 220px;
}

@media (max-width: 967px) {
    .badgeWell {
        height: 150px;
    }
}

@media (max-width: 576px) {
    .badgeWell {
        height: 80px;
    }
}

/*PENTAGONO*/
.triangle {
    position: absolute;
    clip-path: polygon(100% 0%, 0% 0%, 0% 100%);
    width: 130vw;
    height: 20vw;
    background-color: whitesmoke;
    transform: scaleY(-1);
    top: 9.8%;
    padding: 0;
    z-index: -2;
}

@media (max-width: 967px) {
    .triangle {
        top: 8.8%;
        height: 33vw;
    }
}

@media (max-width: 576px) {
    .triangle {
        top: 7.7%;
        height: 33vw;
    }
}

.pentagono {
    position: absolute;
    width: 20vw;
    height: 20vw;
    background-color: whitesmoke;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    transform: rotate(45deg);
    top: -7vw;
    left: 87vw;
    z-index: -2;
}

.pentagono1 {
    position: absolute;
    width: 25vw;
    height: 25vw;
    background-color: whitesmoke;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    transform: rotate(-30deg);
    left: 91%;
    top: 9%;
    z-index: -1;
}

.pentagono2 {
    position: absolute;
    width: 27vw;
    height: 27vw;
    background-color: whitesmoke;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    transform: rotate(30deg);
    left: -17%;
    top: 25%;
    z-index: -2;
}

.pentagono3 {
    position: absolute;
    width: 25vw;
    height: 25vw;
    background-color: whitesmoke;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    transform: rotate(-58.5deg);
    left: 82%;
    top: 39.5%;
    z-index: -1;
}

.pentagonoUserCentered  {
    position: absolute;
    width: 27vw;
    height: 27vw;
    background-color: whitesmoke;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    transform: rotate(40deg);
    left: -13%;
    top: 64%;
    z-index: -2;
}

.pentagonoUserResearch  {
    position: absolute;
    width: 27vw;
    height: 27vw;
    background-color: whitesmoke;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    transform: rotate(40deg);
    left: 83%;
    top: 73%;
    z-index: -2;
}

.pentagono4 {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 12.6vw;
    height: 12.5vw;
    background-color: whitesmoke;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    transform: rotate(-92deg);
    left: -5%;
    top: 95.6%;
    z-index: 0;
}

/*LINK*/
a {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    color: #f8cb08;
}

/*FOOTER*/
.footer {
    height: 5%;
    background-color: whitesmoke;
}


/*ABOUT*/
#aboutDiv {
    margin-top: 6% !important;
    margin-bottom: 8% !important;
}

@media (max-width: 967px) {
    #aboutDiv {
        display: block !important;
    }
}

@media (max-width: 576px) {
    #aboutDiv {
        display: block !important;
    }
}

#aboutInfo {
    margin-left: 3%;
}

@media (max-width: 967px) {
    #aboutInfo {
        margin-left: 0;
    }
}

@media (max-width: 576px) {
    #aboutInfo {
        margin-left: 0;
    }
}


@media (max-width: 967px) {
    #divSuDiMe {
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    #divSuDiMe {
        flex-direction: column;
    }
}

#imageAboutSmartphone {
    margin-left: 3%;
}

@media (max-width: 967px) {
    #imageAboutSmartphone {
        margin-left: 0;
    }
}

@media (max-width: 576px) {
    #imageAboutSmartphone {
        margin-left: 0;
    }
}

#contattiAbout {
    font-size: 35px;
    margin-top: 7%;
}

@media (max-width: 967px) {
    #contattiAbout {
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    #contattiAbout {
        font-size: 16px;
    }
}

.lWhitBgAbout {
    height: 550px;
}

@media (max-width: 967px) {
    .lWhitBgAbout {
        height: 400px;
    }
}

@media (max-width: 576px) {
    .lWhitBgAbout {
        height: 250px;
    }
}

.pAbout {
    font-size: 33px;
    margin-bottom: 3%;
    margin-top: 2%;
}

@media (max-width: 967px) {
    .pAbout {
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    .pAbout {
        font-size: 12px;
    }
}

.pentagono5 {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 13vw;
    height: 10.5vw;
    background-color: whitesmoke;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    transform: rotate(-90deg);
    left: -5%;
    top: 93%;
    z-index: 0;
}

.pentagono6 {
    position: absolute;
    width: 18vw;
    height: 18vw;
    background-color: whitesmoke;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    transform: rotate(45deg);
    top: -8vw;
    left: 91vw;
    z-index: -2;
}

.pentagono7 {
    position: absolute;
    width: 24vw;
    height: 24vw;
    background-color: whitesmoke;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    transform: rotate(-25deg);
    left: 84%;
    top: 42%;
    z-index: -1;
}

.pentagono8 {
    position: absolute;
    width: 19vw;
    height: 19vw;
    background-color: whitesmoke;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    transform: rotate(30deg);
    left: -7%;
    top: 20%;
    z-index: -1;
}

.bgLetterAbout {
    position: absolute;
    width: 100%;
    object-fit: fill;
    object-position: 0 0;
    z-index: -2;
}

@media (max-width: 967px) {
    .bgLetterAbout {
        object-fit: cover;
        height: 100%;
    }
}

@media (max-width: 576px) {
    .bgLetterAbout {
        object-fit: cover;
        height: 100%;
    }
}

@media (max-width: 967px) {
    #divFormazioneImgEtext {
        flex-direction: column-reverse;
    }
}

@media (max-width: 576px) {
    #divFormazioneImgEtext {
        flex-direction: column-reverse;
    }
}

.imageFormazione {
    margin-right: 20%;
}

@media (max-width: 967px) {
    .imageFormazione {
        width: 85%;
        margin-right: 0;
    }
}

@media (max-width: 576px) {
    .imageFormazione {
        width: 85%;
        margin-right: 0;
    }
}

/*WORK*/
#chooseContainer {
    height: 100vh;
    width: 100vw;
}

@media (max-width: 967px) {
    #cardWork {
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    #cardWork {
        flex-direction: column;
    }
}

.pentagonoWork {
    width: 30vw;
    height: 30vw;
    background-color: whitesmoke;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

@media (max-width: 967px) {
    .pentagonoWork {
        margin-bottom: 8%;
        width: 90vw;
        height: 90vw;
    }
}

@media (max-width: 576px) {
    .pentagonoWork {
        margin-bottom: 8%;
        width: 90vw;
        height: 90vw;
    }
}

.imageProject {
    position: absolute;
    z-index: 1;
    top: 26.5vh;
    left: 17.7vw;
    height: 470px;
}

@media (max-width: 967px) {
    .imageProject {
        top: 10.5%;
        left: 13.7vw;
        height: 260px;
    }
}

@media (max-width: 576px) {
    .imageProject {
        top: 10.5%;
        left: 13.7vw;
        height: 260px;
    }
}

.imageWork {
    position: absolute;
    z-index: 1;
    top: 29vh;
    left: 57.8vw;
    height: 415px;
}

@media (max-width: 967px) {
    .imageWork {
        top: 55.5%;
        left: 17%;
        height: 250px;
    }
}

@media (max-width: 576px) {
    .imageWork {
        top: 55.5%;
        left: 17%;
        height: 250px;
    }
}

.bgLetterWork {
    position: absolute;
    width: 100%;
    object-fit: cover;
    object-position: 0 0;
    z-index: -2;
}

@media (max-width: 967px) {
    .bgLetterWork {
        object-fit: cover;
        height: 100%;
    }
}

@media (max-width: 576px) {
    .bgLetterWork {
        object-fit: cover;
        height: 100%;
    }
}

#projectTitle,
#workTitle {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #202534;
    z-index: 1;
}

#projectTitle {
    font-size: 45px;
    top: 72%;
    left: 26.3%;
}

@media (max-width: 967px) {
    #projectTitle {
        font-size: 35px;
        top: 41%;
        left: 30%;
    }
}

@media (max-width: 576px) {
    #projectTitle {
        font-size: 35px;
        top: 41%;
        left: 30%;
    }
}

#workTitle {
    font-size: 45px;
    text-align: center;
    line-height: 1;
    top: 70%;
    left: 62.5%;
}

@media (max-width: 967px) {
    #workTitle {
        font-size: 35px;
        top: 82.5%;
        left: 24%;
    }
}

@media (max-width: 576px) {
    #workTitle {
        font-size: 35px;
        top: 82.5%;
        left: 24%;
    }
}

.titleWork {
    font-size: 80px;
    font-weight: 500;
}

@media (max-width: 967px) {
    .titleWork {
        font-size: 23px;
    }
}

@media (max-width: 576px) {
    .titleWork {
        font-size: 23px;
    }
}

.pentagonoBgP-W {
    width: 95vw;
    height: 45vw;
    background-color: whitesmoke;
    clip-path: polygon(50% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
}

@media (max-width: 967px) {
    .pentagonoBgP-W {
        height: 68vw;
    }
}

@media (max-width: 576px) {
    .pentagonoBgP-W {
        height: 68vw;
    }
}

.pentagonoBgP-W1 {
    width: 95vw;
    height: 45vw;
    background-color: whitesmoke;
    clip-path: polygon(50% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
    transform: rotate(180deg);
}

@media (max-width: 967px) {
    .pentagonoBgP-W1 {
        height: 68vw;
    }
}

@media (max-width: 576px) {
    .pentagonoBgP-Wk1 {
        height: 68vw;
    }
}

#projectTitleSectionP {
    position: absolute;
    left: 7%;
    top: 1%;
    z-index: 1;
}

#projectTitleSectionW {
    position: absolute;
    left: 68%;
    top: 1%;
    z-index: 1;
}

#projectTitleSectionW1 {
    position: absolute;
    left: 77%;
    top: 5%;
    z-index: 1;
}

.pentagono9 {
    position: absolute;
    width: 16vw;
    height: 16vw;
    background-color: #202534;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    transform: rotate(30deg);
    left: -7%;
    top: 94%;
    z-index: -1;
}

#logoKeybrain {
    position: absolute;
    background-color: whitesmoke;
    height: 500px;
    left: 19%;
    top: 9%;
    z-index: 3;
}

@media (max-width: 967px) {
    #logoKeybrain {
        height: 100px;
    }
}

@media (max-width: 576px) {
    #logoKeybrain {
        height: 100px;
    }
}

#tittleKeybrain {
    position: absolute;
    color: #202534;
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    left: 48%;
    top: 11%;
    z-index: 1;
}

@media (max-width: 967px) {
    #tittleKeybrain {
        left: 48%;
        font-size: 20px;
    }
}

@media (max-width: 576px) {
    #tittleKeybrain {
        left: 48%;
        font-size: 20px;
    }
}

#pkeybrain {
    position: absolute;
    color: #202534;
    font-family: 'Montserrat', sans-serif;
    width: 40%;
    font-size: 30px;
    left: 48%;
    top: 16%;
    z-index: 1;
}

@media (max-width: 967px) {
    #pkeybrain {
        line-height: 1;
        font-size: 10px;
    }
}

@media (max-width: 576px) {
    #pkeybrain {
        line-height: 1;
        font-size: 10px;
    }
}

#logoMenomale {
    position: absolute;
    background-color: whitesmoke;
    height: 420px;
    left: 60%;
    top: 38%;
    z-index: 3;
}

@media (max-width: 967px) {
    #logoMenomale {
        height: 90px;
    }
}

@media (max-width: 576px) {
    #logoMenomale {
        height: 90px;
    }
}

#tittleMenomale {
    position: absolute;
    color: #202534;
    font-family: 'Montserrat', sans-serif;
    text-align: end;
    font-size: 70px;
    left: 32.5%;
    top: 39%;
    z-index: 1;
}

@media (max-width: 967px) {
    #tittleMenomale {
        left: 25%;
        font-size: 20px;
    }
}

@media (max-width: 576px) {
    #tittleMenomale {
        left: 25%;
        font-size: 20px;
    }
}

#pMenomale {
    position: absolute;
    color: #202534;
    font-family: 'Montserrat', sans-serif;
    text-align: end;
    width: 40%;
    font-size: 30px;
    left: 15%;
    top: 44%;
    z-index: 1;
}

@media (max-width: 967px) {
    #pMenomale {
        line-height: 1;
        font-size: 9px;
    }
}

@media (max-width: 576px) {
    #pMenomale {
        line-height: 1;
        font-size: 9px;
    }
}

#logoZadig {
    position: absolute;
    background-color: whitesmoke;
    height: 420px;
    left: 21%;
    top: 78%;
    z-index: 3;
}

@media (max-width: 967px) {
    #logoZadig {
        height: 90px;
    }
}

@media (max-width: 576px) {
    #logoZadig {
        height: 90px;
    }
}

#tittleZadig {
    position: absolute;
    color: #202534;
    font-family: 'Montserrat', sans-serif;
    text-align: end;
    font-size: 70px;
    left: 48%;
    top: 80%;
    z-index: 1;
}

@media (max-width: 967px) {
    #tittleZadig {
        top: 79%;
        font-size: 20px;
    }
}

@media (max-width: 576px) {
    #tittleZadig {
        top: 79%;
        font-size: 20px;
    }
}

#pZadig {
    position: absolute;
    color: #202534;
    font-family: 'Montserrat', sans-serif;
    width: 40%;
    font-size: 30px;
    left: 48%;
    top: 84.5%;
    z-index: 1;
}

@media (max-width: 967px) {
    #pZadig {
        top: 83.5%;
        line-height: 1;
        font-size: 9px;
    }
}

@media (max-width: 576px) {
    #pZadig {
        top: 83.5%;
        line-height: 1;
        font-size: 9px;
    }
}

#ScopriDiPiùKeybrain {
    position: absolute;
    font-weight: lighter;
    color: #202534;
    font-size: 25px;
    font-style: italic;
    text-decoration: underline;
    top: 27%;
}

@media (max-width: 967px) {
    #ScopriDiPiùKeybrain {
        top: 29%;
        font-size: 15px;
    }
}

@media (max-width: 576px) {
    #ScopriDiPiùKeybrain {
        top: 29%;
        font-size: 15px;
    }
}

#ScopriDiPiùKeybrain:hover {
    position: absolute;
    font-weight: lighter;
    color: goldenrod;
    font-size: 28px;
    font-style: italic;
    text-decoration: underline;
}


#ScopriDiPiùMenomale {
    position: absolute;
    font-weight: lighter;
    color: #202534;
    font-size: 25px;
    font-style: italic;
    text-decoration: underline;
    top: 60%;
}

@media (max-width: 967px) {
    #ScopriDiPiùMenomale {
        top: 59%;
        font-size: 13px;
    }
}

@media (max-width: 576px) {
    #ScopriDiPiùMenomale {
        top: 59%;
        font-size: 13px;
    }
}

#ScopriDiPiùMenomale:hover {
    position: absolute;
    font-weight: lighter;
    color: goldenrod;
    font-size: 28px;
    font-style: italic;
    text-decoration: underline;
}

#ScopriDiPiùZadig {
    position: absolute;
    font-weight: lighter;
    color: #202534;
    font-size: 25px;
    font-style: italic;
    text-decoration: underline;
    top: 96%;
}

@media (max-width: 967px) {
    #ScopriDiPiùZadig {
        top: 95%;
        font-size: 15px;
    }
}

@media (max-width: 576px) {
    #ScopriDiPiùZadig {
        top: 95%;
        font-size: 15px;
    }
}

#ScopriDiPiùZadig:hover {
    position: absolute;
    font-weight: lighter;
    color: goldenrod;
    font-size: 28px;
    font-style: italic;
    text-decoration: underline;
}

.lineProject {
    position: absolute;
    width: 50%;
    height: 2px;
    border-radius: 15%;
    background-color: #202534;
    top: 33.3%;
    margin: 0 auto;
}

.lineTemporal1 {
    position: absolute;
    width: 45%;
    height: 2px;
    top: 24.9%;
    left: 3.1%;
    border-radius: 15%;
    background-color: #202534;
}

.lineTemporal2 {
    position: absolute;
    width: 38%;
    height: 2px;
    top: 50%;
    left: 49.6%;
    border-radius: 15%;
    background-color: #202534;
}

.lineTemporal3 {
    position: absolute;
    width: 45%;
    height: 2px;
    top: 75%;
    left: 3.1%;
    border-radius: 15%;
    background-color: #202534;
}

#zadigWork {
    position: absolute;
    top: 18%;
    left: 29%;
    color: #f7ce4d;
}

#endDateZadig {
    position: absolute;
    color: #202534;
    top: 21.8%;
    left: 44%;
}

#startDateZadig {
    position: absolute;
    color: #202534;
    top: 24.8%;
    left: 5%;
}

#descriptioZadig {
    position: absolute;
    color: #202534;
    width: 35%;
    font-size: 20px;
    top: 18%;
    left: 50%;
}

#università {
    position: absolute;
    top: 43%;
    left: 49.5%;
    color: #f7ce4d;
}

#endDateUni {
    position: absolute;
    color: #202534;
    top: 50%;
    left: 81%;
}

#startDateUni {
    position: absolute;
    color: #202534;
    top: 47%;
    left: 50%;
}

#descriptioUni {
    position: absolute;
    color: #202534;
    text-align: end;
    width: 35%;
    font-size: 20px;
    top: 43%;
    left: 13%;
}

#università1 {
    position: absolute;
    top: 68%;
    left: 13%;
    color: #f7ce4d;
}

#endDateUni1 {
    position: absolute;
    color: #202534;
    top: 72%;
    left: 44.5%;
}

#startDateUni1 {
    position: absolute;
    color: #202534;
    top: 75%;
    left: 10%;
}

#descriptioUni1 {
    position: absolute;
    color: #202534;
    width: 35%;
    font-size: 20px;
    top: 68%;
    left: 50%;
}

#pPièAbout {
    position: absolute;
    color: whitesmoke;
    text-align: center;
    z-index: 3;
    top: 91%;
    font-size: 38px;
}

@media (max-width: 967px) {
    #pPièAbout {
        top: 95.5%;
        font-size: 9px;
    }
}

@media (max-width: 576px) {
    #pPièAbout {
        top: 95.5%;
        font-size: 9px;
    }
}

.triangleWhitPhoto {
    position: relative;
    z-index: -2;
    clip-path: polygon(100% 0%, 0% 0%, 0% 100%);
}

.imagepattern {
    width: 100%;
}

#userCenteredDesign {
    top: 18%;
    left: 31%; 
}

@media (max-width: 967px) {
    #userCenteredDesign {
        top: 23%;
        left: 35%; 
        gap: 10px;
    }
}

@media (max-width: 576px) {
    #userCenteredDesign {
        top: 23%;
        left: 35%; 
        gap: 10px;
    }
}

#userCenteredDesignCard .cardCenteredUser:nth-child(n+1):nth-child(-n+2) {
   margin-right: 3%;
}

@media (max-width: 967px) {
    #userCenteredDesignCard {
       flex-direction: column;
    }
    #userCenteredDesignCard .cardCenteredUser:nth-child(n+1):nth-child(-n+2) {
        margin-right: 0;
     }
}

@media (max-width: 576px) {
   #userCenteredDesignCard {
        flex-direction: column;
    }
    #userCenteredDesignCard .cardCenteredUser:nth-child(n+1):nth-child(-n+2) {
        margin-right: 0;
     }
}


.cardCenteredUser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 480px;
    width: 460px;
    inset: 0;
    background-image: url(/images/bgCard.png);
    background-size: cover;
    border-radius: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 10px 10px 20px #0e1018;
}

@media (max-width: 967px) {
    .cardCenteredUser {
        height: 320px;
        width: 300px;
    }
}

@media (max-width: 576px) {
    .cardCenteredUser {
    height: 320px;
    width: 300px;
    }
}


.cardCenteredUser h1{
    font-size: 120%;
}

@media (max-width: 967px) {
    .cardCenteredUser h1{
        font-size: 100%;
    }
}

@media (max-width: 576px) {
    .cardCenteredUser h1{
        font-size: 100%;
    }
}

.cardCenteredUser p{
    font-size: 38%;
}

.logoCardUserCentered {
    height: 60%;
    width: 65%;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 5%;
}