/*
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    overflow-x: hidden;
    position: relative;
}

/*NAVBAR*/
.navbar {
    height: 8%;
    position: absolute top;
}

.navbar-nav li {
    font-family: 'Raleway', sans-serif;
}

/*HOMEPAGE*/
.homepage {
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
}

.bgLetter {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

/*IMAGE*/
.image-rotate {
    transform: rotate(180deg) scalex(-1);
    opacity: 0.2;
}

.lWhitBg {
    height: 400px;
}

@media (max-width: 967px) {
    .lWhitBg {
        height: 150px;
    }
}

@media (max-width: 576px) {
    .lWhitBg {
        height: 200px;
    }
}

/*LINEA*/
.line {
    width: 100%; 
    height: 3px; 
    border-radius: 15%;
    background-color: grey; 
    margin: 0 auto;
    margin-top: 5px; 
}

.line2 {
    width: 10%; 
    height: 3px; 
    border-radius: 15%;
    background-color: grey; 
    margin: 0 auto;
    margin-top: 5px; 
}
/*INFO*/
#info {
   font-size: 24px;
}

@media (max-width: 768px) {
    #info p {
        font-size: 15px;
    }
}

@media (max-width: 576px) {
    #info p {
        font-size: 10px;
        
    }
}

/*INFO1*/
#info1 {
    font-size: 32px;
 }

 @media (max-width: 768px) {
     #info1 p {
         font-size: 13px;
     }
 }
 
 @media (max-width: 576px) {
     #info1 p {
         font-size: 7px;
         
     }
 }

/*CONTATTI*/
#contatti {
    font-size: 24px;
 }
 
 @media (max-width: 768px) {
     #contatti p, a{
         font-size: 15px;
     }
 }
 
 @media (max-width: 576px) {
     #contatti p, a {
         font-size: 13px;
         
     }
 } 

 @media (max-width: 768px) {
    #contatti i{
        font-size: 32px;
    }
}

@media (max-width: 576px) {
    #contatti i{
        font-size: 25px;
        
    }
} 

/*photoWhitPhrase*/
#photoWhitPhrase {
    font-size: 43px;
 }
 
 @media (max-width: 768px) {
     #photoWhitPhrase p {
         font-size: 20px;
         text-align: center;
     }
 }
 
 @media (max-width: 576px) {
     #photoWhitPhrase p {
         font-size: 16px;
         text-align: center;
     }
 } 
/*VIRGOLETTE*/
.virgolette {
    width: 200px; /* Larghezza desiderata delle virgolette */
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0.4;
}
.virgoletteR {
    width: 200px; /* Larghezza desiderata delle virgolette */
    position: absolute;
    z-index: -1;
    top: 0;
    left: 85%;
    transform: scaleX(-1);
    opacity: 0.4;
}

/*BADGE WELLNESS DESIGN & UI/UX*/
.badgeWell {
    height: 220px;
}

@media (max-width: 967px) {
    .badgeWell {
        height: 150px;
    }
}

@media (max-width: 576px) {
    .badgeWell {
        height: 80px;
    }
}

/*PENTAGONO*/
.pentagono {
    position: absolute;
    width: 20vw;
    height: 20vw;
    background-color: #202534;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    transform: rotate(45deg);
    top: -10vw;
    z-index: -2;
}

.pentagono1 {
    position: absolute;
    width: 20vw;
    height: 20vw;
    background-color: #202534;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    transform: rotate(-30deg);
    left: 85%; 
    top: 20.7%;
    z-index: -1;
}

.pentagono2 {
    position: absolute;
    width: 20vw;
    height: 20vw;
    background-color: #202534;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    transform: rotate(30deg);
    left: -5%;
    top: 73%;
    z-index: -2;
}

.pentagono3 {
    position: absolute;
    width: 15vw;
    height: 15vw;
    background-color: #202534;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    transform: rotate(-25deg);
    left: 90%; 
    top: 72%;
    z-index: 0;
}
.pentagono4 {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 12.6vw;
    height: 12.5vw;
    background-color: #202534;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    transform: rotate(-92deg);
    left: -5%;
    top: 92.6%;
    z-index: 0;
}
/*LINK*/
a {
    text-decoration: none;
    color: #000;
}
a:hover {
    color: #6e7ca6;
}

/*FOOTER*/
.footer {
    height: 5%;
    background-color: #202534;
}


/*ABOUT*/
#aboutDiv {
    margin-top: 6% !important;
    margin-bottom: 8% !important;
}

@media (max-width: 967px) {
    #aboutDiv {
        display: block !important;
    }
}

@media (max-width: 576px) {
    #aboutDiv {
        display: block !important;
    }
}

#contattiAbout {
    font-size: 35px;
    margin-top: 7%;
}

@media (max-width: 967px) {
    #contattiAbout {
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    #contattiAbout {
        font-size: 16px;
    }
}

.lWhitBgAbout {
    height: 550px;
}

@media (max-width: 967px) {
    .lWhitBgAbout {
        height: 400px;
    }
}

@media (max-width: 576px) {
    .lWhitBgAbout {
        height: 250px;
    }
}

.pAbout {
    font-size: 30px;
    margin-bottom: 7%;
    margin-top: 5%;
}

@media (max-width: 967px) {
    .pAbout {
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    .pAbout {
        font-size: 12px;
    }
}

.pentagono5 {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 13vw;
    height: 10.5vw;
    background-color: #202534;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    transform: rotate(-92deg);
    left: -5%;
    top: 91%;
    z-index: 0;
}
.pentagono6 {
    position: absolute;
    width: 18vw;
    height: 18vw;
    background-color: #202534;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    transform: rotate(45deg);
    top: -8vw;
    left: 91vw;
    z-index: -2;
}

.pentagono7 {
    position: absolute;
    width: 15vw;
    height: 15vw;
    background-color: #202534;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    transform: rotate(-30deg);
    left: 90%; 
    top: 65.7%;
    z-index: -1;
}

.pentagono8 {
    position: absolute;
    width: 16vw;
    height: 16vw;
    background-color: #202534;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    transform: rotate(30deg);
    left: -7%;
    top: 30%;
    z-index: -1;
}

.bgLetterAbout {
    position: absolute;
    width: 100%;
    object-fit: fill;
    object-position: 0 0;
    z-index: -2;
}

@media (max-width: 967px) {
    .bgLetterAbout {
        object-fit: cover;
        height: 100%;
    }
}

@media (max-width: 576px) {
    .bgLetterAbout {
        object-fit: cover;
        height: 100%;
    }
}


/*WORK*/
.pentagonoWork {
    width: 25vw;
    height: 25vw;
    background-color: #202534;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

.imageProject {
    position: absolute;
    z-index: 1;
    top: 22%;
    left: 21.8%;
    height: 380px;
}

.imageWork {
    position: absolute;
    z-index: 1;
    top: 24%;
    left: 58.8%;
    height: 355px;
}

.bgLetterWork {
    position: absolute;
    width: 100%;
    object-fit: fill;
    object-position: 0 0;
    z-index: -2;
}

@media (max-width: 967px) {
    .bgLetterWork {
        object-fit: cover;
        height: 100%;
    }
}

@media (max-width: 576px) {
    .bgLetterWork {
        object-fit: cover;
        height: 100%;
    }
}

#projectTitle {
    position: absolute;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: whitesmoke;
    top: 70%;
    left: 29%;
    z-index: 1;
}

#workTitle {
    position: absolute;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    top: 68%;
    left: 63%;
    line-height: 1;
    z-index: 1;
}

.titleWork {
    font-size: 70px;
    font-weight: 500;
}

.pentagonoBgP-W {
    width: 95vw;
    height: 45vw;
    background-color: #202534;
    clip-path: polygon(50% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
}

.pentagonoBgP-W1 {
    width: 95vw;
    height: 45vw;
    background-color: #202534;
    clip-path: polygon(50% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
    transform: rotate(180deg);
}

#projectTitleSectionP {
    position: absolute;
    left: 7%;
    top: 1%;
    z-index: 1;
}

#projectTitleSectionW {
    position: absolute;
    left: 68%;
    top: 1%;
    z-index: 1;
}

#projectTitleSectionW1 {
    position: absolute;
    left: 77%;
    top: 5%;
    z-index: 1;
}

.pentagono9 {
    position: absolute;
    width: 16vw;
    height: 16vw;
    background-color: #202534;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    transform: rotate(30deg);
    left: -7%;
    top: 94%;
    z-index: -1;
}

#logoKeybrain {
    position: absolute;
    background-color: whitesmoke;
    height: 420px;
    left: 21%;
    top: 15%;
    z-index: 3;
}

#tittleKeybrain {
    position: absolute;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    left: 48%;
    top: 17%;
    z-index: 1;
}

#pkeybrain {
    position: absolute;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    width: 40%;
    font-size: 30px;
    left: 48%;
    top: 24%;
    z-index: 1;
}

#logoMenomale {
    position: absolute;
    background-color: whitesmoke;
    height: 420px;
    left: 60%;
    top: 56%;
    z-index: 3;
}

#tittleMenomale {
    position: absolute;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    text-align: end;
    font-size: 70px;
    left: 32.5%;
    top: 57%;
    z-index: 1;
}

#pMenomale {
    position: absolute;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    text-align: end;
    width: 40%;
    font-size: 30px;
    left: 15%;
    top: 63%;
    z-index: 1;
}

#ScopriDiPiùKeybrain {
    position: absolute;
    font-weight: lighter;
    color: whitesmoke;
    font-size: 25px;
    font-style: italic;
    text-decoration: underline;
    top: 43%;
}

#ScopriDiPiùKeybrain:hover {
    position: absolute;
    font-weight: lighter;
    color: goldenrod;
    font-size: 28px;
    font-style: italic;
    text-decoration: underline;
}

#ScopriDiPiùMenomale {
    position: absolute;
    font-weight: lighter;
    color: whitesmoke;
    font-size: 25px;
    font-style: italic;
    text-decoration: underline;
    top: 90%;
}

#ScopriDiPiùMenomale:hover {
    position: absolute;
    font-weight: lighter;
    color: goldenrod;
    font-size: 28px;
    font-style: italic;
    text-decoration: underline;
}

.lineProject {
    position: absolute;
    width: 50%; 
    height: 2px; 
    border-radius: 15%;
    background-color: whitesmoke; 
    margin: 0 auto;
}

.lineTemporal1 {
    position: absolute;
    width: 45%; 
    height: 2px; 
    top: 24.9%;
    left: 3.1%;
    border-radius: 15%;
    background-color: whitesmoke; 
}
.lineTemporal2 {
    position: absolute;
    width: 38%; 
    height: 2px; 
    top: 50%;
    left: 49.6%;
    border-radius: 15%;
    background-color: whitesmoke; 
}
.lineTemporal3 {
    position: absolute;
    width: 45%; 
    height: 2px; 
    top: 75%;
    left: 3.1%;
    border-radius: 15%;
    background-color: whitesmoke; 
}

#zadigWork {
    position: absolute;
    top: 18%;
    left: 29%;
    color: #f7ce4d;
}

#endDateZadig {
    position: absolute;
    color: whitesmoke;
    top: 21.8%;
    left: 44%;
}

#startDateZadig {
    position: absolute;
    color: whitesmoke;
    top: 24.8%;
    left: 5%;
}

#descriptioZadig {
    position: absolute;
    color: whitesmoke;
    width: 35%;
    font-size: 20px;
    top: 18%;
    left: 50%;
}

#università {
    position: absolute;
    top: 43%;
    left: 49.5%;
    color: #f7ce4d;
}

#endDateUni {
    position: absolute;
    color: whitesmoke;
    top: 50%;
    left: 81%;
}

#startDateUni {
    position: absolute;
    color: whitesmoke;
    top: 47%;
    left: 50%;
}

#descriptioUni {
    position: absolute;
    color: whitesmoke;
    text-align: end;
    width: 35%;
    font-size: 20px;
    top: 43%;
    left: 13%;
}

#università1 {
    position: absolute;
    top: 68%;
    left: 13%;
    color: #f7ce4d;
}

#endDateUni1 {
    position: absolute;
    color: whitesmoke;
    top: 72%;
    left: 44.5%;
}

#startDateUni1 {
    position: absolute;
    color: whitesmoke;
    top: 75%;
    left: 10%;
}

#descriptioUni1 {
    position: absolute;
    color: whitesmoke;
    width: 35%;
    font-size: 20px;
    top: 68%;
    left: 50%;
}